body {
    font-family: Arial, sans-serif;
    background-color: #F8F9FA;
    margin:0;
    overflow-x: hidden;
    transition: 2s;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    width:100%

}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 1.875em;
}

a{
    text-decoration: none;
    color: black;
}
img{
    border-radius: 0.5em;
    border:#F8F9FA;
}
footer p{
    font-size: 0.5em;
}
iframe{
    width:35em;
    height:19.688em;
    border:0;
    max-height: 100%;
    max-width: 100%;
}
#Shrek{
    display: flex;
    align-items: center;
}
h2,h3,.subTitle{
    text-align: center;
}
input[type=checkbox]{
    width:auto
}
.promImage,.Genres {
    width: 12.5em;
    height: 18.75em;
    transition: 0.4s;
}

.promImage:hover,.Genres:hover {
    transform: scale(1.05);
}
.promImage:active,.Genres:active {
    transform: scale(1.1);
}
#avg-viewer img{
    width: 37.5em;
    height:18.75em;
}
#Reviews{
    background-color: #d8d6d6;
    overflow:auto;
    height: 18.75em;
    border: solid;
    transition: 2s;
}
#Rating{
    color:rgb(92, 145, 13);
}
.Genres{
    height: 9.375em;
} 
.form-label{
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.063em;
    margin: -0.063em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.063em;
}
.faq-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.938em;
    text-align: left;
    font-size: 1.125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.625em;
  }

  .faq-button:hover {
    background-color: #0056b3;
  }

  .faq-answer {
    display: none;
      transition: max-height 0.3s ease-out;
    padding-left: 0.625em;
     margin-bottom: 1.25em;
    
  }
  #faq-section{
      display: none;
  }
  .error-msg{
      color: red;
      font-size: 0.813em;
  }
  #review-popup {
      display:none;
      opacity:0;
      position: fixed;
      background-color:#d8d6d6;
      z-index: 9;
      border:solid;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width:35em;
      max-width: 95%;
  }
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.star{
    cursor: pointer;
    user-select: none;
}
.star:hover{
    color:gray;
}
.checked{
    color:orange;
    transition: color 0.4s;
}
.checked:hover{
    color: darkorange;
}
  main {
    flex: 2;
    margin-bottom: 3.125em;
}

#filterSelect {
    width: 100%;
    max-width: 20em;
}
.card{
    transition: 2s;
}
input,select .btn-primary,.faq-button{
    transition: 2s !important;
}
fieldset, #profile-display, #password-change {
    display: none;
}
.profile-text{
    border:black;
    border-style: solid solid none solid;
    transition: 2s; !important;
    max-width: 15em;
    background-color: lightgray;
}
.profile-text:nth-last-child(2){
    border-bottom: solid;
}
#viewerCarousel{
    max-width: 25em;
    max-height: 15em;
}
input,select{
    max-width:25em;
}